.chapter-text {
  margin-right: 4rem;
}

button {
  background: #419bf9;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2px;
  padding: 0.7rem;
  transition: all 0.3s ease-in-out;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #818181;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #000;
}
