body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f5f6fa;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #fff;
}

nav h1 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #419bf9;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 30vw;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 1.3rem;
  font-weight: 600;
}
